body{
    
    
    border-color: rgb(9, 141, 9);
    border-style: double;
    border-width: 1rem;
    color: rgb(12, 61, 26);
    text-align: left;
    font-style: oblique;
    line-height: 1cm;
    font-weight: 900;
    
    background-image: linear-gradient(to left,rgb(90, 183, 137),rgba(54, 111, 168, 0.6),pink,rgb(189, 78, 189),cyan,rgba(76, 91, 172, 0.52), rgba(35, 99, 126, 0.73)),
    url('images/35.jpg') ;
    
    
}
h1{
    font-size: 30px;
    font-family: cursive;
    font-style: italic;
    font-weight: bolder;
    color: darkgreen;
    background-color: rgb(139, 94, 130);
    border: 2cm;
    text-shadow: 4px 4px 6px rgb(82, 1, 1);

}
h2{
    font-size: 20px;
    color: #951a1a;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,;
    font-variant: small-caps;
   text-decoration: underline;